@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin alinha_centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-size: 62.5%;
}

$fonte-base: "Press Start 2P";
$verde-base: #94FF8E;
$cor-de-fundo: #131313;
$fonte-maior: 2.2rem;
$fonte-menor: 1.8rem;